<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Main Content -->
    <div class="container-fluid" id="content" style="background-image: url(img/blur-bg-blurred.jpg);">


        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- <form action="/mail" method="post">
                     <input id="syonin" class="btn btn-info origin_btn col-md-4 float-right" type="submit" value="送信">
                 </form> -->
            <!-- 空白行 -->
            <div class="d-sm-flex align-items-center justify-content-between mb-2"></div>
            <!-- Content Row -->
            <!-- ボタン右寄せする場合は、divでclass"text-right"を付与する。 -->
            <div class="text-right">
                <form class ="form3" name="form3" action="/ip001A">
                    <input id="shinsei" class="btn btn-info origin_btn col-md-2 " type="submit" value="申請する">
                </form>
            </div>
            <!-- 空白行 -->
            <div class="d-sm-flex align-items-center justify-content-between mb-2"></div>

            <div class="row">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-md font-weight-bold text-primary  text-uppercase mb-1">
                                        予算額合計</div>
                                    <div class="h5 mb-0 font-weight-bold text-wite">¥<%=@yosan_total%></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-md font-weight-bold text-success text-uppercase mb-1">
                                        費用合計</div>
                                    <div class="h5 mb-0 font-weight-bold text-wite">¥<%=@hiyou_total%></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-md font-weight-bold text-info text-uppercase mb-1">予算消化率</div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-wite"><%=@yosan_syokaritsu.round(1)%>%</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                    style="width: <%=@yosan_syokaritsu%>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-md font-weight-bold text-warning text-uppercase mb-1">申請件数</div>
                                    <div class="h5 mb-0 font-weight-bold text-wite"><%= @shinsei_kensu%>件</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Row -->

            <div class="row">

                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-white">予算執行・残高情報</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-white">予算執行割合</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="mt-4 text-center small">
                                <div class="w-100"></div>
                                <span class="mr-2">
                                    <i class="fas fa-circle chart_icon_1"></i> 物品
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle chart_icon_2"></i> 謝礼金
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle chart_icon_3"></i> 旅費
                                </span>
                                <div class="w-100"></div>
                                <span class="mr-2">
                                    <i class="fas fa-circle chart_icon_4"></i> 書籍
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle chart_icon_5"></i> 教育受講
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle chart_icon_6"></i> 交際費
                                </span>
                            </div>
                            <div class="text-right small">
                                <span class="mr-2">
                                    <div class="h6">（％）</div>
                                </span>
                            </div>
                            <div class="chart-pie pb-2">
                                <canvas id="myPieChart"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Row -->
            <div class="row">

                <div class="col-lg-12 mb-6">

                    <!-- Illustrations -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-white">Information</h6>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                    src="img/undraw_posting_photo.svg" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <%# パラメタ領域 %>
    <div class="temporary">
    <h1 class="h6 text-dark">パラメタエリア１</h1>
        <input type="text" id="chart_buppin" name="gamen_param" value="">
        <input type="text" id="chart_syareikin" name="gamen_param" value="">
        <input type="text" id="chart_ryohi" name="gamen_param" value="">
        <input type="text" id="chart_syoseki" name="gamen_param" value="">
        <input type="text" id="chart_kyoiku" name="gamen_param" value="">
        <input type="text" id="chart_kousaihi" name="gamen_param" value="">
    <h1 class="h6 text-dark">パラメタエリア２</h1>
        <input type="text" id="month_4" name="gamen_param" value="<%=@month_4%>">
        <input type="text" id="month_5" name="gamen_param" value="<%=@month_5%>">
        <input type="text" id="month_6" name="gamen_param" value="<%=@month_6%>">
        <input type="text" id="month_7" name="gamen_param" value="<%=@month_7%>">
        <input type="text" id="month_8" name="gamen_param" value="<%=@month_8%>">
        <input type="text" id="month_9" name="gamen_param" value="<%=@month_9%>">
        <input type="text" id="month_10" name="gamen_param" value="<%=@month_10%>">
        <input type="text" id="month_11" name="gamen_param" value="<%=@month_11%>">
        <input type="text" id="month_12" name="gamen_param" value="<%=@month_12%>">
        <input type="text" id="month_1" name="gamen_param" value="<%=@month_1%>">
        <input type="text" id="month_2" name="gamen_param" value="<%=@month_2%>">
        <input type="text" id="month_3" name="gamen_param" value="<%=@month_3%>">
    </div>
    <!-- Footer -->
    <%# <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2020</span>
            </div>
        </div>
    </footer> %>
    <!-- End of Footer -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <%# <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div> %>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/src/ipYosanChart1.js"></script>
    <script src="js/src/index.js"></script>
    <%# <script src="js/src/ipYosanChart2.js"></script> %>
    <script src="js/demo/chart-area-demo.js"></script>
    <%# <script src="js/demo/chart-pie-demo.js"></script> %>

</body>

</html>